// Padding
.p-0 {
    padding: 0 !important;
}

.p-8 {
    padding: 8px !important;
}

.p-16 {
    padding: 16px !important;
}

.p-24 {
    padding: 24px !important;
}

.p-32 {
    padding: 32px !important;
}

.p-36 {
    padding: 36px !important;
}

// Padding

// Padding Right
.pr-18 {
    padding-right: 18px !important;
}

.pr-24 {
    padding-right: 24px !important;
}

// Padding Right

// Padding Left
.pl-0 {
    padding-left: 0 !important;
}

.pl-16 {
    padding-left: 18px !important;
}

.pl-18 {
    padding-left: 18px !important;
}

.pl-24 {
    padding-left: 24px !important;
}

// Padding Left

// Padding Top
.pt-24 {
    padding-top: 24px !important;
}

// Padding Top

// Padding Bottom
.pb-0 {
    padding-bottom: 0 !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-18 {
    padding-bottom: 18px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.pb-24 {
    padding-bottom: 24px !important;
}

// Padding Bottom

// Padding X
.px-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.px-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.px-32 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.px-36 {
    padding-left: 36px !important;
    padding-right: 36px !important;
}

.px-96 {
    padding-left: 96px !important;
    padding-right: 96px !important;
}

// Padding X

// Padding Y
.py-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.py-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.py-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

// Padding Y
