.white-text-color {
  color: white !important;
}

.light-bleu-text-color {
  color: rgb(85, 157, 179) !important;
}

.yellow-text-color {
  color: #ffd036 !important;
}

.red-text-color {
  color: red !important;
}

.dark-red-text-color {
  color: #9f0000 !important;
}

.green-text-color {
  color: #168e16 !important;
}

.grey-text-color {
  color: grey !important;
}
